@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Jaro";
  src: url("/fonts/jaro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-white: #CCE1E3;
  --color-blue-lightest: #AED6DF;
  --color-blue-light: #99B8DF;
  --color-blue-dark: #181C25;
  --color-blue-darkest: #14161D;
  --color-green: #87D893;

  --font-jaro: "Jaro", sans-serif;


}

@layer components {
  .title-glow {
    text-shadow: 0px 0px 70px var(--color-blue-lightest);
  }
  
  .section-card {
    background: radial-gradient(circle, var(--color-blue-dark), var(--color-blue-darkest));
  }
}





